@import "../styles/utils.module.scss";


#_copyright_wrapper{
    background-color: $BLACK;
    padding: 2rem 1rem;

    p{
        margin: 0;
        font-size: 1rem;
        color: grey;
        text-align: center;


        @media only screen and (min-width: 2501px){
            font-size: 1.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.25rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.1rem;
          
        }


        // ======================================

        @media only screen and (max-width: 767px) { 
            text-align: left;
            font-size: 0.8rem;
        }

    }
}