@import "../styles/utils.module.scss";



#_course_wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;


    width: 100vw;
    min-height: 100vh;


    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }


    @media only screen and (max-width: 600px) {
        padding: 2rem 0.6rem;
    }



    ._breadcrumb_course_links{
        ._course_links{
            font-size: 1rem;
            @media only screen and (max-width: 1200px) { 
               font-size: 0.9rem;
            }


            @media only screen and (max-width: 600px) { 
                display: none;
            }

        }
    }

    // RIGHT COL
    ._course_SMALL_COL_contents{
        img{
            width: 100%;
            display: block;
            min-height: 350px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-bottom: 1.25rem;


            @media only screen and (max-width: 1200px) { 
                min-height: 250px;
            }

            @media only screen and (max-width: 767px) { 
                max-height: 200px;
            }

        }

        ._course_SMALL_COL_details{


            // KEY
            ._course_SMALL_COL_KEY{
                font-size: 1rem;
                color: $GRAY;
                display: inline-block;
                margin-bottom: 1.5rem;

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.8rem;
                }

                @media only screen and (max-width: 600px) { 
                    font-size: 0.7rem;
                 }

                ._course_SMALL_COL_ICON{
                    margin-right: 0.1rem;
                    font-size: 1.25rem;
                    color: $ORANGE;

                    @media only screen and (max-width: 1200px) { 
                        font-size: 1rem;
                    }

                    @media only screen and (max-width: 600px) { 
                        font-size: 0.8rem;
                     }
                }
            }

            // END

            // ==========================================================

            // VALUE

            ._course_SMALL_COL_VALUE{
                margin-left: 0.6rem;
                font-size: 1rem;
                color: $BLACK;

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.8rem;
                }

                @media only screen and (max-width: 600px) { 
                    font-size: 0.7rem;
                 }
            }

            // END

            button{
                all: unset;
                cursor: pointer;
                margin-top: 2rem;
                font-size: 1rem;
                background-color: $BLUE;
                transition: all 0.2s ease-in-out;
                color: white;
                padding: 0.8rem 1rem;
                border-radius: 5px;

                &:hover{
                    background-color: $VIOLET;
                }





                @media only screen and (max-width: 1200px) { 
                    font-size: 0.8rem;
                }


                ._course_SMALL_COL_BTN_ICON{
                    font-size: 1rem;

                    @media only screen and (max-width: 1200px) { 
                        font-size: 0.8rem;
                    }
                }
            }

        }
    }
    // END


    // ==============================================


    // LEFT COL

    ._course_header_section{
        padding: 5rem 0;
        width: 100%;


        @media only screen and (max-width: 600px) { 
           padding: 4rem 0rem;
        }



      ._course_header_details{
        margin-top: 2rem;

        h1{
            margin: 0;
            max-width: 800px;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 700;
            color: $BLACK;
            margin-top: 0.6rem;



            @media only screen and (min-width: 2501px){
                font-size: 3.75rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 3.5rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 3rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 2.75rem;
            }



            // ========================================

            @media only screen and (max-width: 1200px) { 
                font-size: 2rem;
            }

            @media only screen and (max-width: 600px) { 
                font-size: 1.3rem;
             }

        }

        ._course_tag{
            font-size: 0.8rem;
            font-weight: 400;
            background-color: $RED !important; 




            @media only screen and (min-width: 2501px){
                font-size: 1.5rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.3rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.25rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 0.9rem;
            }



            // ===========================================




            @media only screen and (max-width: 1200px) { 
                font-size: 0.7rem;
            }

            @media only screen and (max-width: 600px) { 
                font-size: 0.65rem;
             }
        }

        ._course_contents{
            margin-top: 1.25rem;
            

            @media only screen and (max-width: 600px) { 
                margin-top: 0.8rem;
             }



             ._course_contents_ICONS_DIVIDER{
                display: none;

                @media only screen and (max-width: 600px){
                    display: block;
                }
             }


            span{
                margin-right: 1.25rem;
                font-size: 1rem;
                color: $GRAY;



                @media only screen and (min-width: 2501px){
                    font-size: 1.6rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                  font-size: 1.25rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 1.1rem;
                }



                // ================================================

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.8rem;
                }

                @media only screen and (max-width: 600px) { 
                    font-size: 0.7rem;
                    margin-right: 0.6rem;
                 }
            }

            ._course_contents_ICONS{
                margin-right: 0.1rem;
                font-size: 1.25rem;
                color: $ORANGE;




                @media only screen and (min-width: 2501px){
                    font-size: 2.25rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 1.5rem;
                }





                // ===================================================

                @media only screen and (max-width: 1200px) { 
                    font-size: 1rem;
                }

                @media only screen and (max-width: 600px) { 
                   font-size: 0.8rem;
                }

            }

            h3{
                margin: 0;
                margin-top: 1.25rem;
                font-weight: 600;
                color: $VIOLET;
                font-size: 2rem;



                @media only screen and (min-width: 2501px){
                    font-size: 3rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 2.6rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                  font-size: 2.3rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 2.1rem;
                }



                // ============================================

                @media only screen and (max-width: 1200px) { 
                    font-size: 1.25rem;
                }

                
            @media only screen and (max-width: 600px) { 
                margin-top: 1rem;
                font-size: 1rem;
             }
            }
        }
      }


    //   DIVIDER
      ._course_divider{
        margin: 2rem 0;
      }
    // END


        // COURSE OVERVIEW

        ._course_contents_overview{
            margin-top: 3rem;


            h2{
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.25rem;
                color: $BLACK;

                @media only screen and (max-width: 1200px) { 
                    font-size: 1.3rem;
                }

                @media only screen and (max-width: 600px){
                    font-size: 1rem;
                }

            }
            p{
                margin: 0;
                max-width: 700px;
                width: 100%;
                font-size: 1rem;
                color: $GRAY;

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.85rem;
                    max-width: 600px;
                }

                @media only screen and (max-width: 600px){
                    font-size: 0.75rem;
                    max-width: 500px;
                }
            }

            h3{
                margin: 0;
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 2rem;
                color: $BLACK;

                @media only screen and (max-width: 1200px) { 
                    font-size: 1rem;
                }

                @media only screen and (max-width: 600px){
                    font-size: 0.9rem;
                }
            }

            ul{
                margin-top: 1.25rem;
                font-size: 1rem;
                color: $GRAY;
                list-style-type: none;
                margin-left: -25px;
           

                ._course_learn_checks{
                    color: green;
                    font-size: 1rem;

                    @media only screen and (max-width: 1200px) { 
                        font-size: 0.85rem;
                    }

                    @media only screen and (max-width: 600px){
                        font-size: 0.75rem;
                    }
                }

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.85rem;
                }

                @media only screen and (max-width: 600px){
                    font-size: 0.75rem;
                }

                li{
                    margin-bottom: 0.8rem;
                }
            }
        }


        // COURSE CONTENTS

        ._course_videos{
            ._course_videos_h2{
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.25rem;
                margin-top: 4rem;
                color: $BLACK;


                @media only screen and (max-width: 1200px) { 
                    font-size: 1.3rem;
                }

                @media only screen and (max-width: 600px){
                    font-size: 1rem;
                }

            }


            ._course_videos_accordion_header > *{
                font-size: 1.1rem;

                @media only screen and (max-width: 1200px) { 
                    font-size: 0.9rem;
                }

                @media only screen and (max-width: 600px){
                    font-size: 0.8rem;
                }
            }

            ._course_videos_BODY{
                margin-bottom: 1.5rem;

                @media only screen and (max-width: 1200px) { 
                    margin-bottom: 1rem;
                }


                p{
                    margin: 0;
                    font-size: 1rem;

                    @media only screen and (max-width: 1200px) { 
                        font-size: 0.8rem;
                    }

                    @media only screen and (max-width: 600px){
                        font-size: 0.75rem;
                    }

                    ._course_videos_BODY_ICON{
                        color: $RED;
                        font-size: 1.25rem;
                        margin-right: 0.6rem;

                        @media only screen and (max-width: 1200px) { 
                            font-size: 0.8rem;
                        }
                    }

                    // LOCK ICON

                    ._course_videos_BODY_ICON_LOCK{
                        color: $H_RED;
                        font-size: 1.25rem;
                        margin-left: 30rem;

                        @media only screen and (max-width: 1200px) { 
                            font-size: 0.8rem;
                        }

                        @media only screen and (max-width: 1199px) { 
                            margin-left: 23rem;
                        }

                        @media only screen and (max-width: 925px) { 
                            margin-left: 15rem;
                        }


                        @media only screen and (max-width: 600px) { 
                            display: none;
                        }

                    }
                }

               
            }
        }

    }

        // END

}