@import "../styles/utils.module.scss";



#_course_wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;


    width: 100vw;
    min-height: 100vh;


    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }

    ._breadcrumb_course_links{
        ._course_links{
            font-size: 1rem;
         
        }
    }

    // RIGHT COL
    ._course_SMALL_COL_contents{
        img{
            width: 100%;
            display: block;
            min-height: 350px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        ._course_SMALL_COL_details{

        }
    }
    // END


    // ==============================================


    // LEFT COL

    ._course_header_section{
        padding: 5rem 0;
        width: 100%;

      ._course_header_details{
        margin-top: 2rem;

        h1{
            margin: 0;
            max-width: 800px;
            width: 100%;
            font-size: 2.5rem;
            font-weight: 700;
            color: $BLACK;
            margin-top: 0.6rem;
        }

        ._course_tag{
            font-size: 0.8rem;
            font-weight: 400;
            background-color: $RED !important; 
        }

        ._course_contents{
            margin-top: 1.25rem;
            

            span{
                margin-right: 1.25rem;
                font-size: 1rem;
                color: $GRAY;
            }

            ._course_contents_ICONS{
                margin-right: 0.1rem;
                font-size: 1.25rem;
                color: $ORANGE;
            }

            h3{
                margin: 0;
                margin-top: 1.25rem;
                font-weight: 600;
                color: $VIOLET;
                font-size: 2rem;
            }
        }
      }


    //   DIVIDER
      ._course_divider{
        margin: 2rem 0;
      }
    // END


        // COURSE OVERVIEW

        ._course_contents_overview{
            margin-top: 3rem;


            h2{
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.25rem;
                color: $BLACK;
            }
            p{
                margin: 0;
                max-width: 700px;
                width: 100%;
                font-size: 1rem;
                color: $GRAY;
            }

            h3{
                margin: 0;
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 2rem;
                color: $BLACK;
            }

            ul{
                margin-top: 1.25rem;
                font-size: 1rem;
                color: $GRAY;
                li{
                    margin-bottom: 0.8rem;
                }
            }
        }


        // COURSE CONTENTS

        ._course_videos{
            ._course_videos_h2{
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.25rem;
                margin-top: 4rem;
                color: $BLACK;
            }


            ._course_videos_accordion_header > *{
                font-size: 1.1rem;
            }

            ._course_videos_BODY{
                margin-bottom: 1.5rem;


                p{
                    margin: 0;
                    font-size: 1rem;

                    ._course_videos_BODY_ICON{
                        color: $RED;
                        font-size: 1.25rem;
                        margin-right: 0.6rem;
                    }

                    // LOCK ICON

                    ._course_videos_BODY_ICON_LOCK{
                        color: $H_RED;
                        font-size: 1.25rem;
                        margin-left: 30rem;
                    }
                }

               
            }
        }

    }

        // END

}