@import "../styles/utils.module.scss";



#_enrolled_course_wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;


    
    width: 100vw;
    min-height: 100vh;




    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }






    #_enrolled_header_section{
        padding: 5rem 0;
        width: 100%;
    
    
    
    
        @media only screen and (min-width: 2501px){
            padding: 9rem 0rem;
        }
    
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            padding: 8rem 0rem;
        }
    
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            padding: 6rem 0rem;
        }
    
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           padding: 6rem 0rem;
        }
    
    
    
    
        // ============================================================
    
    
        @media only screen and (max-width: 600px) { 
           padding: 4rem 0rem;
        }







        h1{
            margin: 0 auto;
            max-width: 800px;
            width: 100%;
            font-size: 2.25rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 2rem;
            
    
            @media only screen and (min-width: 2501px){
                font-size: 3.5rem;
                max-width: 1200px;
                margin-bottom: 2.5rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 3rem;
                max-width: 1000px;
                margin-bottom: 2.5rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 2.75rem;
                max-width: 1000px;
                margin-bottom: 2.5rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 2.5rem;
            }
    
            // =================================================
    
            @media only screen and (max-width: 991px) { 
              font-size: 2rem;
            }
    
            @media only screen and (max-width: 768px) { 
                font-size: 1.75rem;
            }
    
            @media only screen and (max-width: 600px) { 
                font-size: 1.5rem;
                max-width: 350px;
            }
    
        }
    




        // COURSE CONTENTS VIDS
        ._enrolled_course_contents{
            background-color: white;
            padding: 1rem 0.8rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        // END







        ._enrolled_video_section{
            // width: 100%;
            iframe{
                width: 740px;
                min-height: 500px;
            }




            ._enrolled_video_section_DETAILS{
                margin-top: 0.6rem;

                h2{
                    margin: 0;
                    max-width: 700px;
                    width: 100%;
                    // background-color: red;
                    color: $BLACK;
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }




                ._enrolled_video_section_ICONS{
                    span{
                        margin-right: 1rem;
                        font-size: 1rem;
                        color: $GRAY;
                    }   

                    ._enrolled_video_section_SPAN_ICONS{
                        color: $ORANGE;
                        font-size: 1.25rem;
                    }
                }


            }




        }




    }


 




 





}