@import "../styles/utils.module.scss";


#_gs_wrapper{
    padding: 4rem 2rem;
    background-color: white;


    // ====
    width: 100vw;
    // ===


    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }


    h1{
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        font-size: 2.25rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
        color: $BLACK;
        

        @media only screen and (min-width: 2501px){
            font-size: 3.5rem;
            max-width: 1200px;
            margin-bottom: 2.5rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 3rem;
            max-width: 1000px;
            margin-bottom: 2.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 2.75rem;
            max-width: 1000px;
            margin-bottom: 2.5rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 2.5rem;
        }

        // =================================================

        @media only screen and (max-width: 991px) { 
          font-size: 2rem;
        }

        @media only screen and (max-width: 768px) { 
            font-size: 1.75rem;
        }

        @media only screen and (max-width: 600px) { 
            font-size: 1.5rem;
            max-width: 350px;
        }

    }

    ._gs_boxes{
        padding: 1rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        background-color: whitesmoke;
        border-radius: 8px;
        min-height: 320px;



        @media only screen and (min-width: 2501px){
            min-height: 440px;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            min-height: 410px;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            min-height: 390px;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           min-height: 350px;
        }



        // =========================================================


        @media only screen and (max-width: 1199px) { 
            min-height: 270px;
        }

        @media only screen and (max-width: 850px) { 
            min-height: 250px;
        }

        @media only screen and (max-width: 767px) { 
            min-height: 310px;
        }

        @media only screen and (max-width: 650px) { 
            min-height: 280px;
        }

        @media only screen and (max-width: 575px) { 
            min-height: 400px;
        }

        @media only screen and (max-width: 425px) { 
            min-height: 310px;
        }

        @media only screen and (max-width: 375px) { 
            min-height: 280px;
        }

        @media only screen and (max-width: 321px) { 
            min-height: 250px;
        }


        img{
            margin-bottom: 1rem;
            width: 100%;
            border-radius: 4px;
            object-fit: cover;
            object-position: center;
        }

        h3{
            margin: 0;
            font-size: 1.25rem;
            color: $BLACK;
            font-weight: bolder;
            margin-bottom: 0.6rem;


            @media only screen and (min-width: 2501px){
                font-size: 2rem;
                max-width: 450px;
                width: 100%;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.75rem;
              max-width: 400px;
              width: 100%;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.5rem;
              max-width: 350px;
              width: 100%;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.3rem;
            }


            // ===================================

            @media only screen and (max-width: 1199px) {
                max-width: 250px;
                width: 100%; 
                font-size: 1rem;
            }

            @media only screen and (max-width: 575px) { 
                max-width: 300px;
                width: 100%; 
                font-size: 1rem;
            }

            @media only screen and (max-width: 425px) { 
                max-width: 300px;
                width: 100%; 
                font-size: 0.9rem;
            }

        }

        h4{
            margin: 0;
            font-size: 1rem;
            color: grey;
            font-weight: 400;


            @media only screen and (min-width: 2501px){
                font-size: 1.75rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.5rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.25rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 1.1rem;
            }




             // ===================================
            
            @media only screen and (max-width: 1199px) { 
                font-size: 0.8rem;
            }


            @media only screen and (max-width: 425px) { 
                font-size: 0.75rem;
            }

        }
    }
}
