@import "../styles/utils.module.scss";

#_hero_wrapper{
    position: relative;
    padding: 4rem 2rem;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.6) ) ,
        url('/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
        


    @media only screen and (max-width: 768px) { 
        padding: 2rem 1rem;
    }

    // ._auto_complete_dropdown{
    //     width: 5000px !important; 
    //     font-size: 10rem !important;
    // }
#_hero_details_wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    text-align: center;

    @media only screen and (min-width: 1400px){
        top: 50%;
        left: 50%;
    }

    @media only screen and (max-width: 768px) { 
        top: 50%;
        left: 50%;
    }

    // background-color: yellow;
    h1{
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        font-size: 4rem;
        color: white;
        text-transform: capitalize;
        font-weight: bolder;
        margin-bottom: 1rem;

        // background-color: red;


        @media only screen and (min-width: 2501px){
            font-size: 5.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 5.25rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 4.75rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 4.25rem;
        }


        
    //  ==================================================

        @media only screen and (max-width: 1200px) { 
            font-size: 3rem;
        }

        @media only screen and (max-width: 768px) { 
            max-width: 700px;
        }

        @media only screen and (max-width: 600px) { 
            font-size: 2.5rem;
            max-width: 500px;
        }

        @media only screen and (max-width: 375px) { 
            font-size: 2.25rem;
            max-width: 500px;
        }
    }
    ._hero_para{
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
     
        color: white;
        font-size: 1.1rem;
        margin-bottom: 2rem;


        @media only screen and (min-width: 2501px){
            font-size: 2rem;
            max-width: 1000px;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.75rem;
            max-width: 900px;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
            max-width: 900px;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.25rem;
        }


        // ================================================
       

        @media only screen and (max-width: 1200px) { 
            font-size: 1rem;
        }

        @media only screen and (max-width: 768px) { 
            max-width: 600px;
        }

        @media only screen and (max-width: 600px) { 
            font-size: 0.8rem;
            max-width: 370px;
        }

        @media only screen and (max-width: 425px) { 
            font-size: 0.8rem;
            max-width: 300px;
        }
    }

    ._auto_complete_suggestions{
        margin: 0 auto;
        display: block;
        // background-color: red;
        max-width: 500px;
        width: 100%;


        @media only screen and (max-width: 425px) { 
            display: none;
        }


        ._auto_complete_suggestions_title{
            margin: 0;
            color: #d3d3d3;
            font-size: 0.8rem;
            margin-bottom: 0.6rem;


            @media only screen and (min-width: 2501px){
                font-size: 1.75rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.5rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.25rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.1rem;
            }

        }
        ._auto_complete_suggestions_tags{
            margin-right: 0.6rem;
            cursor: pointer;
            background-color: $RED;
            color: white;
            padding: 0.3rem;
            font-size: 0.8rem;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: $H_RED;
            }



            @media only screen and (min-width: 2501px){
                font-size: 1.6rem;
                display: inline-block;
                margin-right: 1rem;
                margin-bottom: 1rem;
                max-width: 230px;
                width: 100%;
                border-radius: 5px;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.5rem;
                display: inline-block;
                margin-right: 1rem;
                margin-bottom: 1rem;
                max-width: 230px;
                width: 100%;
                border-radius: 5px;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 1.25rem;
              display: inline-block;
                margin-right: 0.8rem;
                margin-bottom: 0.8rem;
                max-width: 200px;
                width: 100%;
                border-radius: 5px;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.1rem;
                display: inline-block;
                margin-right: 0.8rem;
                margin-bottom: 0.8rem;
                max-width: 170px;
                width: 100%;
                border-radius: 5px;
            }



            // ==========================

            @media only screen and (max-width: 600px) { 
               font-size: 0.75rem;
            }
        }
    }

    ._auto_complete_wrapper{
        margin-bottom: 1rem;
        ._auto_complete_input_wrapper{
            margin: 0 auto;
            display: block;
            input{
                all: unset;
                background-color: white;
                max-width: 500px;
                width: 100%;
                padding: 1rem;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                text-align: left;
                font-size: 1rem;
                &::placeholder{
                    color: grey;
                    text-align: left;
                    font-size: 1rem;

                    @media only screen and (min-width: 2501px){
                        font-size: 2rem;
                    }
            
                    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                        font-size: 1.75rem;
                    }
            
                    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                        font-size: 1.5rem;
                    }
            
                    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                       font-size: 1.25rem;
                    }

                      // =====================================

                    @media only screen and (max-width: 768px) { 
                        font-size: 0.8rem;
                    }
                }




                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                    max-width: 900px;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                    max-width: 800px;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                    max-width: 700px;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 1.25rem;
                }


                // =====================================

                @media only screen and (max-width: 768px) { 
                    font-size: 0.8rem;
                    max-width: 400px;
                    width: 100%;
                }

                @media only screen and (max-width: 600px) { 
                    max-width: 250px;
                    width: 100%;
                }

                @media only screen and (max-width: 375px) { 
                    max-width: 200px;
                    width: 100%;
                }
            }

            button{
                all: unset;
                cursor: pointer;
                padding: 1rem;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px; 
                background-color: $ORANGE;
                font-size: 1rem;

                transition: all 0.2s ease-in-out;

                &:hover{
                    background-color: $H_ORANGE;
                }




                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                    max-width: 100px;
                    width: 100%;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                    max-width: 80px;
                   width: 100%;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                    max-width: 60px;
                   width: 100%;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                   font-size: 1.25rem;
                   max-width: 40px;
                   width: 100%;
                }







                // ======================================

                @media only screen and (max-width: 768px) { 
                    font-size: 0.8rem;
                }
            }
        }
          
    }
}
    
}