@import "../styles/utils.module.scss";


#_login_wrapper{
    position: relative;
    padding: 4rem 2rem;
background-color: white;

    width: 100vw;
    min-height: 100vh;


@media only screen and (max-width: 768px) { 
    padding: 2rem 1rem;
}





// #############################


#_user_is_logged_in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: $BLACK;



    @media only screen and (min-width: 2501px){
          font-size: 2.1rem;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        font-size: 1.75rem;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
      font-size: 1.5rem;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
       font-size: 1.15rem;
    }





    // ######################################################


    @media only screen and (max-width: 425px) { 
        font-size: 0.9rem;
    }


}



// #############################



    ._login_box_{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 450px;
        width: 100%;
        padding: 2rem;
        background-color: whitesmoke;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;







        @media only screen and (min-width: 2501px){
            max-width: 800px;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            max-width: 700px;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            max-width: 600px;
        }









        @media only screen and (max-width: 600px) {
            max-width: 300px;
        }


        @media only screen and (max-width: 375px) {
            max-width: 270px;
        }


        h3{
            margin: 0;
            color: $BLUE;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            span{
                color: $ORANGE;
            }






            @media only screen and (min-width: 2501px){
                font-size: 4rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 3.25rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 2.5rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1.75rem;
            }


            // ===============================================



            @media only screen and (max-width: 600px) {
                font-size: 1.25rem;
             }

        }



        ._login_form_{
            input, button{
                all: unset;
                margin: 0 auto;
                display: block;
                border: none;
                outline: none;
                box-shadow: none;
                max-width: 375px;
                width: 100%;


                @media only screen and (min-width: 2501px){
                    max-width: 710px;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    max-width: 610px;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                  max-width: 525px;
                }
                
                // ####################################################

                @media only screen and (max-width: 600px){
                    max-width: 225px;
                }

                @media only screen and (max-width: 375px) {
                    max-width: 195px;
                }

            }

            label{
                margin-bottom: 0.3rem;
                color: $GRAY;
                font-size: 1rem;




                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                  font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.16rem;
                }


                // ===============================================


                
            @media only screen and (max-width: 600px) {
                font-size: 0.8rem;
             }

            }

            input{
                margin-bottom: 1.25rem;
                background-color: white;
                color: $BLACK;
                border: 1px solid darkgray;
                padding: 0.6rem 0.3rem;
                border-radius: 5px;
                font-size: 1rem;
                color: $BLACK;





                @media only screen and (min-width: 2501px){
                    margin-bottom: 2rem;
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    margin-bottom: 2rem;
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.16rem;
                }


                // ===============================================


                @media only screen and (max-width: 600px) {
                    font-size: 0.8rem;
                 }
            }







            #_login_btn_submit_loading{
                cursor: not-allowed;
                margin: 0 auto;
                text-align: center;
                padding: 0.6rem 0.3rem;
                background-color: $GRAY;
                color: #d3d3d3;
                font-size: 1rem;
                border-radius: 5px;
               








                
                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.16rem;
                }


                // ===============================================









                @media only screen and (max-width: 600px) {
                    font-size: 0.8rem;
                 }
            }









            button{
                cursor: pointer;
                margin: 0 auto;
                text-align: center;
                padding: 0.6rem 0.3rem;
                background-color: $BLUE;
                color: white;
                font-size: 1rem;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;


                &:hover{
                    background-color: $H_BLUE;
                }








                
                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.16rem;
                }


                // ===============================================









                @media only screen and (max-width: 600px) {
                    font-size: 0.8rem;
                 }

            }


            ._divider_{
                margin: 2rem 0;
            }

            a{
                color: $BLUE;
                text-decoration: underline;
                font-size: 1rem;
                
                


                &:hover{
                    color: $H_BLUE;
                }





                
                @media only screen and (min-width: 2501px){
                    font-size: 2rem;
                }
        
                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.75rem;
                }
        
                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                }
        
                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.16rem;
                }


                // ===============================================











                @media only screen and (max-width: 600px) {
                    font-size: 0.8rem;
                 }

            }

        }

    }

}