@import "../styles/utils.module.scss";




#_drawer_offcanvas_991px{
  width: 350px;

  #_drawer_offcanvas_title{
    font-size: 1.5rem;
    font-weight: bold;
    color: $BLUE;
    span{
      color: $ORANGE;
    }
  }

  // ####################


  #_drawer_offcanvas_body{
    ul{
      all: unset;
      list-style: none;
      li{
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        
        a{
          color: $BLACK;
          transition: all 0.2s ease-in-out;

          &:hover{
            color: $RED;
          }
        }

      }
    }
  }
}

















// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@




// WISHLIST & CART OFFCANVAS 
#_navbar_offcanvas_wrapper{ 

  @media only screen and (min-width: 2501px){
    width: 800px;       
  }

  @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
    width: 700px;
  }

  @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
    width: 600px;
  }

  @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
     width: 500px;
  }







  #_navbar_offcanvas_title{
    color: $BLACK;
    font-size: 1.25rem;



    @media only screen and (min-width: 2501px){
      font-size: 2.5rem;  
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
      font-size: 2rem;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
      font-size: 1.75rem;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
       font-size: 1.5rem;
    }










  }


   // IF DATA IS NOT AVAILABLE
    #_NO_DATA_AVAILABLE_{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);


 
      h6{
        text-align: center;
        width: 500px;
        color: gray;
        font-size: 1rem;

        span {
          color: #0d6efd;
          text-decoration: underline;
          cursor: pointer;
        }

        @media only screen and (min-width: 2501px){
          font-size: 1.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.25rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.16rem;
        }



        // ====================================================


        @media only screen and (max-width: 768px) { 
          font-size: 0.9rem;
        }

      }
    }

  #_navbar_offcanvas_body{
    position: relative;

    // IF DATA IS NOT AVAILABLE
    #_NO_DATA_AVAILABLE_{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);


 
      h6{
        text-align: center;
        width: 500px;
        color: gray;
        font-size: 1rem;



        @media only screen and (min-width: 2501px){
          font-size: 1.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.25rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.16rem;
        }



        // ====================================================


        @media only screen and (max-width: 768px) { 
          font-size: 0.9rem;
        }

      }
    }
    // END
   




    #_navbar_offcanvas_body_COLS{
      position: relative;
      width: 100%;
      min-height: 180px;
      margin-bottom: 1rem;
      background-color: $BLACK;
      border-radius: 5px;
      padding: 0.3rem;
      transition: all 0.2s ease-in-out;

      &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }




          
      @media only screen and (min-width: 2501px){
        min-height: 350px;
      }
    
      @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        min-height: 300px;
      }
    
      @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        min-height: 260px;
      }
    
      @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        min-height: 210px;
      }


      // ======================================================





       // CLOSE ICON
       #_navbar_offcanvas_body_close_icons{
        #_navbar_offcanvas_body_close_icons_ICON{
          position: absolute;
          top: 1px;
          right: 1px;
          color: red;
          font-size: 1.25rem;
          cursor: pointer;


          
        @media only screen and (min-width: 2501px){
          font-size: 2.25rem;
        }
      
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 2rem;
        }
      
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.75rem;
        }
      
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
          font-size: 1.5rem;
        }
  
  
        // ======================================================



        }
      }
    // END




      img{
        width: 100%;
        min-height: 180px;

        object-fit:fill;

        object-position: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover{
          transform: scale(0.96);
        }




        @media only screen and (min-width: 2501px){
          min-height: 350px;
        }
      
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          min-height: 300px;
        }
      
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          min-height: 260px;
        }
      
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
          min-height: 210px;
        }
  
  
        // ======================================================






      }



      h6{
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        color: #d3d3d3;
        margin-top: 10px;
        margin-bottom: 10px;



        @media only screen and (min-width: 2501px){
          font-size: 2rem;
        }
      
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.75rem;
        }
      
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.4rem;
        }
      
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
          font-size: 1.1rem;
        }




        // ======================================================


        @media only screen and (max-width: 576px) {
          font-size: 0.8rem;
         }


      }



      #_navbar_offcanvas_body_ICONS{
        span{
          display: inline-block;
          margin-bottom: 0.3rem;
          font-size: 0.8rem;
          color: gray;

        @media only screen and (min-width: 2501px){
          margin-bottom: 0.5rem;
          font-size: 1.75rem;
        }
      
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          margin-bottom: 0.5rem;
          font-size: 1.5rem;
        }
      
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          margin-bottom: 0.5rem;
          font-size: 1.25rem;
        }
      
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
          font-size: 1rem;
        }

        // ======================================================






          @media only screen and (max-width: 576px) {
            font-size: 0.7rem;
           }


        }
        #_navbar_offcanvas_body_main_icons{
          font-size: 1rem;
          color: $ORANGE;







          
        @media only screen and (min-width: 2501px){
          font-size: 2rem;
        }
      
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.75rem;
        }
      
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.5rem;
        }
      
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
          font-size: 1.25rem;
        }




        // ======================================================




          @media only screen and (max-width: 576px) {
            font-size: 0.9rem;
           }

        }
      }

    }
  }

}

// END



// ============================================

#_navbar_wrapper{
    position: fixed;
    top: 0;
    padding: 1rem;
    z-index: 100;
    background-color: $BLACK;


    // ======
    width: 100vw;
    // ======

    @media only screen and (min-width: 2501px){
        padding: 2rem 1rem;
    }

      @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        padding: 1.75rem 1rem;
      }

      @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        padding: 1.5rem 1rem;
      }

      @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        padding: 1.25rem 1rem;
      }



      // HIDE THE COLLAPSE ON SMALL DEVICES 991PX
      #_navbar_COLLAPSE_HIDE{
        @media only screen and (max-width: 991px) {
          display: none;
         }

      }
      // END




      // HIDE ON LARGE DEVICES AND SHOW ON SMALL DEVICES
        ._navbar_ACTIONS_BTNS_ONLY_SHOW_BELOW_99PX{
          display: none;


          @media only screen and (max-width: 991px) { 
            display: flex;
            justify-content: center;
            align-items:center;
          }


          ._navbar_icon_ONLY_SHOW_BELOW_99PX{
            @media only screen and (max-width: 375px){
              margin-right: -10px;
            }
          }

          #_navbar_icon_ONLY_SHOW_BELOW_99PX{
            @media only screen and (max-width: 375px){
             font-size: 0.9rem;
            }
          }


        }
      // END






        #_navbar_logo_SMALL{
          display: none;
          font-size: 1.5rem;
          color: $ORANGE;
          font-weight: bolder;
          text-transform: uppercase;
          span{
              color: $BLUE;
          }
  
          @media only screen and (min-width: 2501px){
              font-size: 2.3rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 2.25rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 2rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 1.75rem;
            }
  
          @media only screen and (max-width: 768px) { 
              font-size: 1.25rem;
          }


          // SHOW ON 576px

          @media only screen and (max-width: 576px){
            display: block;
          }



        }






    #_navbar_logo{
        font-size: 1.5rem;
        color: $ORANGE;
        font-weight: bolder;
        text-transform: uppercase;
        span{
            color: $BLUE;
        }

        @media only screen and (min-width: 2501px){
            font-size: 2.3rem;
          }
  
          @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
              font-size: 2.25rem;
          }
  
          @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 2rem;
          }
  
          @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
             font-size: 1.75rem;
          }

        @media only screen and (max-width: 768px) { 
            font-size: 1.25rem;
        }



        // HIDE ON SMALL DEVICES 576px 


        @media only screen and (max-width: 576px){
          display: none;
        }


    }

    #_navbar_hamburger{
        font-size: 2.5rem;
        color: white;
    }

    ._navbar_links{
        font-size: 1rem;
        color: white;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $ORANGE;
        }

        @media only screen and (min-width: 2501px){
          font-size: 1.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.25rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.1rem;
        }
    }


    ._wish_n_cart{
      font-size: 1rem;
      color: white;

      @media only screen and (min-width: 2501px){
        font-size: 1.75rem;
      }

      @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.5rem;
      }

      @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        font-size: 1.25rem;
      }

      @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
         font-size: 1.1rem;
      }
  }

    


    #_navbar_icon_wishlist{
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $RED;
        }
    }
    #_navbar_icon_cart{
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $BLUE;
        }
    }

}