@import "../styles/utils.module.scss";


// WISHLIST & CART OFFCANVAS


// END



// ============================================

#_navbar_wrapper{
    position: fixed;
    top: 0;
    padding: 1rem;
    z-index: 100;
    background-color: $BLACK;


    // ======
    width: 100vw;
    // ======

    @media only screen and (min-width: 2501px){
        padding: 2rem 1rem;
    }

      @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        padding: 1.75rem 1rem;
      }

      @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        padding: 1.5rem 1rem;
      }

      @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        padding: 1.25rem 1rem;
      }



      // HIDE THE COLLAPSE ON SMALL DEVICES 991PX
      #_navbar_COLLAPSE_HIDE{
        @media only screen and (max-width: 991px) {
          display: none;
         }

      }
      // END




      // HIDE ON LARGE DEVICES AND SHOW ON SMALL DEVICES
        ._navbar_ACTIONS_BTNS_ONLY_SHOW_BELOW_99PX{
          display: none;


          @media only screen and (max-width: 991px) { 
            display: flex;
            justify-content: center;
            align-items:center;
          }


          ._navbar_icon_ONLY_SHOW_BELOW_99PX{
            @media only screen and (max-width: 375px){
              margin-right: -10px;
            }
          }

          #_navbar_icon_ONLY_SHOW_BELOW_99PX{
            @media only screen and (max-width: 375px){
             font-size: 0.9rem;
            }
          }


        }
      // END






        #_navbar_logo_SMALL{
          display: none;
          font-size: 1.5rem;
          color: $ORANGE;
          font-weight: bolder;
          text-transform: uppercase;
          span{
              color: $BLUE;
          }
  
          @media only screen and (min-width: 2501px){
              font-size: 2.3rem;
            }
    
            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 2.25rem;
            }
    
            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
              font-size: 2rem;
            }
    
            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
               font-size: 1.75rem;
            }
  
          @media only screen and (max-width: 768px) { 
              font-size: 1.25rem;
          }


          // SHOW ON 576px

          @media only screen and (max-width: 576px){
            display: block;
          }



        }






    #_navbar_logo{
        font-size: 1.5rem;
        color: $ORANGE;
        font-weight: bolder;
        text-transform: uppercase;
        span{
            color: $BLUE;
        }

        @media only screen and (min-width: 2501px){
            font-size: 2.3rem;
          }
  
          @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
              font-size: 2.25rem;
          }
  
          @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 2rem;
          }
  
          @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
             font-size: 1.75rem;
          }

        @media only screen and (max-width: 768px) { 
            font-size: 1.25rem;
        }



        // HIDE ON SMALL DEVICES 576px 


        @media only screen and (max-width: 576px){
          display: none;
        }


    }

    #_navbar_hamburger{
        font-size: 2.5rem;
        color: white;
    }

    ._navbar_links{
        font-size: 1rem;
        color: white;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $ORANGE;
        }

        @media only screen and (min-width: 2501px){
          font-size: 1.75rem;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
          font-size: 1.25rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
           font-size: 1.1rem;
        }
    }


    ._wish_n_cart{
      font-size: 1rem;
      color: white;

      @media only screen and (min-width: 2501px){
        font-size: 1.75rem;
      }

      @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
          font-size: 1.5rem;
      }

      @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        font-size: 1.25rem;
      }

      @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
         font-size: 1.1rem;
      }
  }

    


    #_navbar_icon_wishlist{
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $RED;
        }
    }
    #_navbar_icon_cart{
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $BLUE;
        }
    }

}